<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect Poll" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^poll.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/poll.php" redirectType="Permanent" />
                </rule>
            </rules>
            <rules>
                <rule name="Redirect Pollresults" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^pollresults.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/pollresults.php" redirectType="Permanent" />
                </rule>
            </rules>
            <rules>
                <rule name="Redirect OBOM" stopProcessing="true">
                    <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^obom.tommyjams.com" />
                        </conditions>
                    <action type="Redirect" url="http://www.tommyjams.com/obomentry.html" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>