<rewrite>
  <!--This directive was not converted because it is not supported by IIS: RewriteBase /blog/.-->
  <rules>
    <!--# BEGIN WordPress-->
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="^index\.php$" ignoreCase="false" />
      <action type="None" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="." ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="/blog/index.php" />
    </rule>
  </rules>
</rewrite>